name: Auto Format

on:
  pull_request:

jobs:
  format:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}

      - uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - run: pip install black

      - run: black .

      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "style: auto-format code"
